*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: black;

}

#calculadora {
  background-color: rgb(43, 76, 154);
  margin: 0 auto;
  width: 400px;
  border: 36px solid blue;
  border-radius: 20px;
  padding: 10px;

  #resultado{
    word-wrap: break-word;
    height: auto;
    color: white;
    text-align: end;
    letter-spacing: 2px;
  }

  #historico{
    background-color: red;
    word-wrap: break-word;
    color: white;
    text-align: end;
    letter-spacing: 2px;
  }

  .linha{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;


    input[type=button]{
      width: 20%;
    }
  }

}