@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: url("../image/background.jpg") center no-repeat black !important;
}

#calculadora {
  background-color: #131313;
  margin: 10% auto 0;
  width: 80%;
  border: 16px solid #0202ca;
  border-radius: 20px;
  padding: 10px;
  font-family: "Press Start 2P", cursive;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#calculadora .visor {
  padding: 5px 0;
  min-height: 70px;
  background-color: black;
}

#calculadora .visor #resultado {
  word-wrap: break-word;
  height: auto;
  color: #00ff08;
  text-align: end;
  letter-spacing: 2px;
  font-size: 20px;
}

#calculadora .visor #calculo {
  word-wrap: break-word;
  color: #00ff08;
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
  font-size: 16px;
  margin-top: 10px;
  text-align: end;
  letter-spacing: 2px;
}

#calculadora .linha {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#calculadora .linha input[type="button"] {
  width: 100%;
  height: 2rem;
  font-size: 14px;
  color: #0099ff;
  background-color: #393939;
}

#calculadora .linha input[type="button"]:hover {
  cursor: pointer;
  -webkit-filter: brightness(150%);
          filter: brightness(150%);
}

#calculadora #listaDeCalculos {
  color: #fff;
  line-height: 2;
  margin: 10px;
  word-wrap: break-word;
}

#calculadora #listaDeCalculos li {
  border-bottom: 1px #fff solid;
  list-style: none;
}

@media (max-width: 480px) {
  #calculadora {
    width: 95%;
    padding: 0;
  }
  #calculadora .linha input[type="button"] {
    height: 3.5rem;
  }
}

#modal {
  font-family: "VT323", monospace;
  position: fixed;
  padding-top: 200px;
  padding: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(11, 77, 13, 0.483);
}

#modal .modal-content {
  width: 65vw;
  background-color: rgba(215, 215, 215, 0.831);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 10px;
  padding: 20px;
  padding-top: 100px;
  -webkit-box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, 0.2);
  height: 70vh;
  font-size: 20px;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: auto;
}

#modal .modal-content span {
  color: #0202ca;
}

#modal .modal-content img {
  width: 25vw;
  max-width: 150px;
}

#modal .modal-content h3 {
  text-align: center;
}

#modal .modal-content .sub-content li {
  list-style: none;
}

#modal .modal-content .sub-content li input {
  font-family: "Press Start 2P", cursive;
  height: 2rem;
  width: 50px;
  font-size: 12px;
  color: #0099ff;
  background-color: #393939;
}

@media (max-width: 980px) {
  #modal .modal-content {
    padding-top: 120px;
    width: 85vw;
    height: 80vh;
  }
}

@media (max-width: 480px) {
  #modal .modal-content {
    padding-top: 220px;
    width: 85vw;
    height: 80vh;
    font-size: 18px;
  }
  #modal .modal-content li {
    margin-bottom: 10px;
  }
}

@media (max-width: 280px) {
  #modal .modal-content {
    padding-top: 480px;
    height: 60vh;
  }
}

#modal #start {
  font-family: "Press Start 2P", cursive;
  height: 2rem;
  font-size: 12px;
  cursor: pointer;
  width: 120px;
  -webkit-clip-path: polygon(84% 0, 100% 50%, 84% 100%, 0% 100%, 10% 51%, 0% 0%);
          clip-path: polygon(84% 0, 100% 50%, 84% 100%, 0% 100%, 10% 51%, 0% 0%);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#modal #start:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#help {
  cursor: pointer;
  position: absolute;
  width: 30px;
  top: 20px;
  left: 20px;
  border-radius: 100%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#help:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  background-color: crimson;
}
/*# sourceMappingURL=style.css.map */